
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 62, 5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    font-size: 1.6rem;
    line-height: 1.5rem;
}

h1 h2 h3 h4 {
    font-style: oblique;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;

}

h2 {
    font-size: 4rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

p {
    margin-bottom: 3rem;
}